version: '3.8'

services:
  db:
    image: postgres:17.5-alpine
    restart: no
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pg:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pg: 